openapi: 3.1.0
info:
  title: Increase Account Numbers Entities API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Entities
  description: KYC/KYB entities that own accounts.
paths:
  /entities:
    get:
      operationId: listEntities
      tags:
      - Entities
      summary: List Entities
      responses:
        '200':
          description: A list of Entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entity'
    post:
      operationId: createEntity
      tags:
      - Entities
      summary: Create an Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - structure
              properties:
                structure:
                  type: string
                  enum:
                  - corporation
                  - natural_person
                  - joint
                  - trust
                  - government_authority
                natural_person:
                  type: object
                  additionalProperties: true
                corporation:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: The created Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /entities/{entity_id}:
    parameters:
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveEntity
      tags:
      - Entities
      summary: Retrieve an Entity
      responses:
        '200':
          description: The Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /entities/{entity_id}/archive:
    parameters:
    - name: entity_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: archiveEntity
      tags:
      - Entities
      summary: Archive an Entity
      responses:
        '200':
          description: The archived Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /entity_supplemental_documents:
    post:
      operationId: createSupplementalDocument
      tags:
      - Entities
      summary: Create a supplemental document for an Entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entity_id
              - file_id
              properties:
                entity_id:
                  type: string
                file_id:
                  type: string
      responses:
        '200':
          description: The created supplemental document.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    Entity:
      type: object
      properties:
        id:
          type: string
        structure:
          type: string
          enum:
          - corporation
          - natural_person
          - joint
          - trust
          - government_authority
        status:
          type: string
          enum:
          - active
          - archived
          - disabled
        description:
          type: string
          nullable: true
        type:
          type: string
          example: entity
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
