openapi: 3.1.0
info:
  title: Increase Account Numbers Wire Transfers API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Wire Transfers
  description: Fedwire transfers and drawdown requests.
paths:
  /wire_transfers:
    get:
      operationId: listWireTransfers
      tags:
      - Wire Transfers
      summary: List Wire Transfers
      responses:
        '200':
          description: A list of Wire Transfers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WireTransfer'
    post:
      operationId: createWireTransfer
      tags:
      - Wire Transfers
      summary: Create a Wire Transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_id
              - amount
              - message_to_recipient
              properties:
                account_id:
                  type: string
                amount:
                  type: integer
                message_to_recipient:
                  type: string
                beneficiary_name:
                  type: string
                account_number:
                  type: string
                routing_number:
                  type: string
                external_account_id:
                  type: string
      responses:
        '200':
          description: The created Wire Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
  /wire_transfers/{wire_transfer_id}:
    parameters:
    - name: wire_transfer_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveWireTransfer
      tags:
      - Wire Transfers
      summary: Retrieve a Wire Transfer
      responses:
        '200':
          description: The Wire Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
  /wire_transfers/{wire_transfer_id}/approve:
    parameters:
    - name: wire_transfer_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: approveWireTransfer
      tags:
      - Wire Transfers
      summary: Approve a Wire Transfer
      responses:
        '200':
          description: The approved Wire Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
  /wire_transfers/{wire_transfer_id}/cancel:
    parameters:
    - name: wire_transfer_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: cancelWireTransfer
      tags:
      - Wire Transfers
      summary: Cancel a pending Wire Transfer
      responses:
        '200':
          description: The canceled Wire Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
  /wire_drawdown_requests:
    post:
      operationId: createWireDrawdownRequest
      tags:
      - Wire Transfers
      summary: Create a Wire Drawdown Request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_number_id
              - amount
              - recipient_account_number
              - recipient_routing_number
              properties:
                account_number_id:
                  type: string
                amount:
                  type: integer
                recipient_account_number:
                  type: string
                recipient_routing_number:
                  type: string
                recipient_name:
                  type: string
      responses:
        '200':
          description: The created Wire Drawdown Request.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    WireTransfer:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        amount:
          type: integer
        message_to_recipient:
          type: string
        beneficiary_name:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - pending_approval
          - pending_creating
          - submitted
          - complete
          - canceled
          - reversed
        type:
          type: string
          example: wire_transfer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
