openapi: 3.1.0
info:
  title: Increase Account Numbers Check Transfers API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Check Transfers
  description: Printed and mailed checks and check deposits.
paths:
  /check_transfers:
    get:
      operationId: listCheckTransfers
      tags:
      - Check Transfers
      summary: List Check Transfers
      responses:
        '200':
          description: A list of Check Transfers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CheckTransfer'
    post:
      operationId: createCheckTransfer
      tags:
      - Check Transfers
      summary: Create a Check Transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_id
              - amount
              properties:
                account_id:
                  type: string
                amount:
                  type: integer
                source_account_number_id:
                  type: string
                fulfillment_method:
                  type: string
                  enum:
                  - physical_check
                  - third_party
      responses:
        '200':
          description: The created Check Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTransfer'
  /check_transfers/{check_transfer_id}:
    parameters:
    - name: check_transfer_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveCheckTransfer
      tags:
      - Check Transfers
      summary: Retrieve a Check Transfer
      responses:
        '200':
          description: The Check Transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTransfer'
  /check_transfers/{check_transfer_id}/stop_payment:
    parameters:
    - name: check_transfer_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: stopPaymentCheckTransfer
      tags:
      - Check Transfers
      summary: Stop payment on a Check Transfer
      responses:
        '200':
          description: The Check Transfer with a stop payment applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTransfer'
  /check_deposits:
    get:
      operationId: listCheckDeposits
      tags:
      - Check Transfers
      summary: List Check Deposits
      responses:
        '200':
          description: A list of Check Deposits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
    post:
      operationId: createCheckDeposit
      tags:
      - Check Transfers
      summary: Create a Check Deposit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_id
              - amount
              - front_image_file_id
              - back_image_file_id
              properties:
                account_id:
                  type: string
                amount:
                  type: integer
                front_image_file_id:
                  type: string
                back_image_file_id:
                  type: string
      responses:
        '200':
          description: The created Check Deposit.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    CheckTransfer:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        amount:
          type: integer
        fulfillment_method:
          type: string
          enum:
          - physical_check
          - third_party
        status:
          type: string
          enum:
          - pending_approval
          - pending_submission
          - submitting
          - submitted
          - pending_mailing
          - mailed
          - deposited
          - stopped
          - returned
          - rejected
          - canceled
        type:
          type: string
          example: check_transfer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
