openapi: 3.1.0
info:
  title: Increase Account Numbers Transactions API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Transactions
  description: Settled, pending, and declined ledger transactions.
paths:
  /transactions:
    get:
      operationId: listTransactions
      tags:
      - Transactions
      summary: List Transactions
      parameters:
      - name: account_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of Transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
  /transactions/{transaction_id}:
    parameters:
    - name: transaction_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveTransaction
      tags:
      - Transactions
      summary: Retrieve a Transaction
      responses:
        '200':
          description: The Transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /pending_transactions:
    get:
      operationId: listPendingTransactions
      tags:
      - Transactions
      summary: List Pending Transactions
      responses:
        '200':
          description: A list of Pending Transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  /declined_transactions/{declined_transaction_id}:
    parameters:
    - name: declined_transaction_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveDeclinedTransaction
      tags:
      - Transactions
      summary: Retrieve a Declined Transaction
      responses:
        '200':
          description: The Declined Transaction.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Number of results to return per page (1-100, default 100).
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 100
    Cursor:
      name: cursor
      in: query
      required: false
      description: Return the page of results starting after this cursor.
      schema:
        type: string
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        amount:
          type: integer
        currency:
          type: string
          example: USD
        description:
          type: string
        route_id:
          type: string
          nullable: true
        source:
          type: object
          description: A typed object describing exactly what moved money.
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        type:
          type: string
          example: transaction
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
