openapi: 3.1.0
info:
  title: Increase Account Numbers Card Profiles API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Card Profiles
  description: Digital and physical card profiles and wallet tokens.
paths:
  /digital_card_profiles:
    get:
      operationId: listDigitalCardProfiles
      tags:
      - Card Profiles
      summary: List Digital Card Profiles
      responses:
        '200':
          description: A list of Digital Card Profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
    post:
      operationId: createDigitalCardProfile
      tags:
      - Card Profiles
      summary: Create a Digital Card Profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - description
              - app_icon_file_id
              - card_description
              - issuer_name
              properties:
                description:
                  type: string
                app_icon_file_id:
                  type: string
                card_description:
                  type: string
                issuer_name:
                  type: string
      responses:
        '200':
          description: The created Digital Card Profile.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /physical_card_profiles:
    get:
      operationId: listPhysicalCardProfiles
      tags:
      - Card Profiles
      summary: List Physical Card Profiles
      responses:
        '200':
          description: A list of Physical Card Profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  /digital_wallet_tokens:
    get:
      operationId: listDigitalWalletTokens
      tags:
      - Card Profiles
      summary: List Digital Wallet Tokens
      responses:
        '200':
          description: A list of Digital Wallet Tokens.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  /digital_wallet_tokens/{digital_wallet_token_id}:
    parameters:
    - name: digital_wallet_token_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveDigitalWalletToken
      tags:
      - Card Profiles
      summary: Retrieve a Digital Wallet Token
      responses:
        '200':
          description: The Digital Wallet Token.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
