openapi: 3.1.0
info:
  title: Increase Account Numbers Simulations API
  description: Increase is a bank-grade payments and financial infrastructure platform that exposes a single REST API for moving and holding money in the United States. This document models the primary resources of the Increase API - Accounts, Account Numbers, Cards, Card Payments, ACH / Wire / Real-Time Payments / Check transfers, Transactions, Entities, Events and webhooks, Bookkeeping, Card Profiles and Digital Wallets, Lockboxes, and Simulations. It is grounded in Increase's public OpenAPI 3.1 spec (https://api.increase.com/openapi.json) and the Stainless-generated SDKs. Authentication is a Bearer API key. All endpoints are HTTPS REST; state changes are delivered as Events over HTTP webhooks (no WebSocket surface). Requests support idempotency via the `Idempotency-Key` header. This is a representative, not exhaustive, subset of the full API.
  version: 0.0.1
  contact:
    name: Increase
    url: https://increase.com
  license:
    name: Increase Documentation
    url: https://increase.com/documentation
servers:
- url: https://api.increase.com
  description: Production
- url: https://sandbox.increase.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Simulations
  description: Sandbox-only endpoints for deterministic testing.
paths:
  /simulations/inbound_ach_transfers:
    post:
      operationId: simulateInboundACHTransfer
      tags:
      - Simulations
      summary: Simulate an inbound ACH transfer
      description: Sandbox-only. Simulates money arriving at one of your Account Numbers over ACH.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_number_id
              - amount
              properties:
                account_number_id:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: The simulated Inbound ACH Transfer.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /simulations/card_authorizations:
    post:
      operationId: simulateCardAuthorization
      tags:
      - Simulations
      summary: Simulate a card authorization
      description: Sandbox-only. Simulates a merchant authorizing a Card, triggering any Real-Time Decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                card_id:
                  type: string
                amount:
                  type: integer
                merchant_descriptor:
                  type: string
      responses:
        '200':
          description: The simulated card authorization result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /simulations/inbound_wire_transfers:
    post:
      operationId: simulateInboundWireTransfer
      tags:
      - Simulations
      summary: Simulate an inbound wire transfer
      description: Sandbox-only. Simulates a Fedwire arriving at one of your Account Numbers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_number_id
              - amount
              properties:
                account_number_id:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: The simulated Inbound Wire Transfer.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Increase API key passed as `Authorization: Bearer YOUR_API_KEY`. Keys are environment-scoped (production vs sandbox). OAuth is also supported for platform / Increase-for-platforms integrations.'
